
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Оплата</title>
</head>
<body>
    <h4>To be continued</h4>
</body>
</html>
