@model CarRental.Entities.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отмена заявки</title>
</head>
<body>

    <h4>Order</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm(FormMethod.Post))
            {<div class="form-group">                    
                    @Html.HiddenFor(order => order.Id)
                </div>
                <div class="form-group">
                    <label>Укажите причину отказа</label>
                    @Html.EditorFor(order => order.Comment)
                    @Html.ValidationMessageFor(order => order.Comment)
                </div>
                <input type="submit" value="Сохранить" class="btn btn-outline-success" />
            }
        </div>
    </div>

    <div>
        @Html.ActionLink("К списку заказов", "Orders", new { area = "Manager", controller = "Manager" }, new { @class = "btn btn-outline-info" })
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
